body {
    font-family: Nunito, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    color: #333;
    position: relative;
}

body::before {
    content: "";
    background-image: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-image: url("images/header-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo img {
    max-width: 150px;
    height: auto;
    margin-left: 20px;
}

.hero {
    background-image: url('images/hero_background.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero-content {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

.hero h1 {
    font-size: 36px;
    font-weight: bold;
}

.hero p {
    font-size: 18px;
    margin-top: 10px;
}

.hero button {
    padding: 15px 30px;
    background-color: #f5c518;
    color: #333;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.hero button:hover {
    background-color: #d0ad1c;
}

#movieTitleInput {
    display: block;
    margin: 20px auto;
    width: 400px;
}

h1, h2, h3 {
    font-family: 'Secular One', cursive;
}

#errorMessage {
    color: white;
    font-size: 16px;
    background-color: #000;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

#movieTitleInput {
    display: block;
    margin: 20px auto;
    width: 800px; 
    padding: 15px; 
    font-size: 18px; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}


#logo, #search-container, #movieTitleInput {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.header-background {
    background-image: url("images/header-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8; /* Adjust opacity as needed */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

/* Updated CSS code to remove black overlay */
.hero-content {
    background-color: transparent; 
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

#logo, #search-container, #movieTitleInput {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

/* Styles for the movie section */
.movie-section {
    background-color: #f5f5f5; 
    padding: 40px 0; 
    text-align: center;
}

.movie-section h2 {
    font-size: 28px;
    color: #333; 
}


.movie a {
    text-decoration: none;
    color: #333; 
}

.movie img {
    max-width: 100%; 
    height: auto;
    border: 1px solid #333; 
    border-radius: 5px;
    transition: transform 0.3s;
}

.movie img:hover {
    transform: scale(1.1);
}


/* This section adjust the movie poster size and grid */
.movie-poster img {
    max-width: 250px; 
    max-height: 225px; 
    object-fit: cover;
    border: 1px solid #333;
}

/* CSS for the scrolling container */
.movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 20px; 
    overflow: hidden;
    white-space: nowrap;
    width: 262%; 
}

.movie {
    display: inline-block;
    margin-right: 20px;
}

.movie p {
    margin-top: 5px; 
}

.movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    overflow: auto; 
    white-space: nowrap;
    position: relative;
}

.movie-scroll-container {
    max-width: 100%; 
    overflow: visible; 
    max-height: 300px; 
}

#movie-section-container {
    max-height: 400px; 
    overflow: auto;
}

/* Another styles for the movie section */
.movie-section {
    background-color: #f5f5f5;
    padding: 40px 0;
    text-align: center;
}

.movie-section h2 {
    font-size: 28px;
    color: #333;
}

.movie a {
    text-decoration: none;
    color: #333;
}

/* Updated CSS style for the movie titles */
.movie p {
    margin-top: 5px;
    white-space: normal; 
    max-width: 150px; 
}

.movie-scroll-container {
    max-width: 100%; 
    overflow-x: auto; 
    overflow-y: hidden; 
    max-height: 300px; 
}
/* stylish button for the search bar */
.stylish-button {
    padding: 15px 20px;
    background-color: #f5c518;
    color: #333;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.stylish-button:hover {
    background-color: #d0ad1c;
}

/* Added Stylish feel to the About Us button */
.about-button {
    display: block;
    margin: 20px auto; 
    padding: 10px 20px;
    background-color: #f5c518;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.about-button:hover {
    background-color: #d0ad1c;
}

/* added this rule to shift the about us the button to the right */
.about-button.shift-right {
    margin-left: 100px; 
}

/* Adjust the button size on small screens */
@media (max-width: 576px) {
    #aboutUsButton {
        padding: 5px 10px;
    }
}


/* Styles for desktop screens */
@media (min-width: 769px) {
    
    body {
        width: 100%; 
        max-width: 1920px; 
        margin: 0 auto; 
    }
}

/* Styles for mobile screens */

@media (max-width: 768px) {
    
    body {
        width: 100%; 
        margin: 0; 
        padding: 0; 
    }
}

/* control space around the footer */
footer {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 10px 0;
    margin: 0; 
}

/* error message adjustment distance from search bar */
#errorMessage {
    color: white;
    font-size: 16px;
    background-color: #000;
    padding: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 10px; 
}



#titleErrorMessage {
    color: white;
    font-size: 16px;
    background-color: #000;
    padding: 0px;
    text-align: center;
    position: relative;
    top: 10px;
}

#search-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

#errorMessages {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px; /* this margin controls the space between the search button and error messages */
}



